<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refrigerante</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-bebidas.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Eighth navbar example">
            <div class="container  d-flex align-items-center">
              <a class="navbar-brand" href="../index.html">
                  <img src="../img/logo.png" alt="Logotipo Site">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                  </li>
                  
              </div>
            </div>
          </nav>
    </header>

    <main>

        <div class="banner-refrigerante"></div>

        <div class="container conteudo my-3 p-2 justify-content-center">

            <div class="row d-flex py-2 align-items-center">
                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                   <h2 class="display-4">Refrigerante 2 Litros</h2>
                   <p class="fs-4 lead">(Coca-Cola, Fanta, Sprite, Guaraná Antartica, Fanta Uva)</p>
                   <p class="fs-3 text-muted">Preço: R$7,50</p>
               </div>

               <div class="refrigerante-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                   <img src="../img/bebidas/2L.png" alt="Refrigerante 2 litros">
               </div>
           </div>

           <div class="row d-flex py-2 align-items-center">
               <div class="refrigerante-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                   <img src="../img/bebidas/600ml.png" alt="Refrigerante 600ml">
               </div>

                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                   <h2 class="display-4">Refrigerante 600ml</h2>
                   <p class="fs-4 lead">(Coca-Cola, Coca-cola Zero, Fanta, Guaraná Kuat, Schweppes Limão) </p>
                   <p class="fs-3 text-muted">Preço: R$4,00</p>
               </div>
           </div>

        </div>
    </main>

    <footer>
        Todos os direitos reservados &copy; Imagens meramente ilustrativa!
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>