<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hambúrguer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-hamburgers.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Eighth navbar example">
            <div class="container  d-flex align-items-center">
              <a class="navbar-brand" href="../index.html">
                  <img src="../img/logo.png" alt="Logotipo Site">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                  </li>
                  
              </div>
            </div>
          </nav>
    </header>

    <main>

        <div class="banner-hamburguer"></div>

        <div class="container conteudo my-3 p-2">

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Cebola Caramelizada</h2>
                    <p class="fs-4 lead">Pão Brioche, Carne, Cebola Caramelizada, Queijo Cheddar e molho especial!</p>
                    <p class="fs-3 text-muted">Preço: R$23,00</p>
                </div>

                <div class="hamburguer-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/hamburguers/cebola-caramelizada.jpg" alt="Hamburguer Cebola Caramelizada">
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="hamburguer-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/hamburguers/hamburguer_do_sertao.jpg" alt="Hamburguer do Sertão">
                </div>

                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Hambúrguer do Sertão</h2>
                    <p class="fs-4 lead">Pão de cacau, Carne, Queijo Coalho braseado, Quiabos, Picles de Malagueta, Cebola Roxa e Chips de Macaxeira!</p>
                    <p class="fs-3 text-muted">Preço: R$35,90</p>
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Hambúrguer Mexicano</h2>
                    <p class="fs-4 lead">Pão Brioche, Bacon, Queijo Cheddar, Alface Americana, Cebola Roxa, Fatias de Tomate!</p>
                    <p class="fs-3 text-muted">Preço: R$26,00</p>
                </div>

                <div class="hamburguer-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/hamburguers/hamburguer_mexicano.jpg" alt="Hamburguer Mexicano">
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="hamburguer-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/hamburguers/hamburguer_com_bacon_e_cogumelo_salteado.jpg" alt="Hamburguer Bacon e Cogumelo">
                </div>

                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Hambúrguer com Bacon e Cogumelo Salteado</h2>
                    <p class="fs-4 lead"> Pão de Hambúrguer, Carne, Bacon, Alface, Queijo Cheddar, Tomate, Cogumelo Shitake, Cebole e Ovos!</p>
                    <p class="fs-3 text-muted">Preço: R$28,90</p>
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Cheddar Milt</h2>
                    <p class="fs-4 lead">Pão de Hambúrger, 8 Fatias de Cheddar, Carne Fraldinha, Cebola Roxa!</p>
                    <p class="fs-3 text-muted">Preço: R$21,90</p>
                </div>

                <div class="hamburguer-imagem d-none d-md-block col-md-5 py-2">
                    <img src="../img/hamburguers/cheddar_melt.jpg" alt="Hamburguer Cheddar Milt"
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="hamburguer-imagem d-none d-md-block col-md-5 py-2">
                    <img src="../img/hamburguers/pedreira.jpg" alt="Hamburguer Pedreira">
                </div>

                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Pedreira</h2>
                    <p class="fs-4 lead">hambúrguer de costela com bacon 250g, creme de cheddar fundido com pepperoni, onion rings, fatias de bacon crocante, molho barbecue e maionese da casa no pão rústico. Acompanha batatas crinkle.</p>
                    <p class="fs-3 text-muted">Preço: R$32,00</p>
                </div>
            </div>


        </div>
    </main>

    <footer>
        Todos os direitos reservados &copy; Imagens meramente ilustrativa!
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>