<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamma Mia - Panini</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-panini.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Eighth navbar example">
            <div class="container  d-flex align-items-center">
              <a class="navbar-brand" href="../index.html">
                  <img src="../img/logo.png" alt="Logotipo Site">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                  </li>
                  
              </div>
            </div>
          </nav>
    </header>

    <main>

        <div class="banner-sandwich"></div>

        <div class="container conteudo my-3 p-2">

            <div class="row d-flex py-2 my-sm-3">
                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Bauru</h2>
                    <p class="fs-4 lead">Seus ingredientes, tradicionalmente, são pão francês, rosbife, tomate, picles e queijo, mas existem hoje várias versões diferentes do sanduíche e igualmente deliciosas!</p>
                    <p class="fs-3 text-muted">Preço: R$9,89</p>
                </div>

                <div class="sandwich-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/sandwichs/bauru.jpg" alt="bauru">
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="sandwich-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/sandwichs/falafel.jpg" alt="falafel">
                </div>

                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Falafel Turca</h2>
                    <p class="fs-4 lead">Sua versão em sanduíche é feita com o famoso pão pita, mais conhecido como pão árabe, acompanhado de saladas de folhas verdes com cebola e tomate, molhos apimentados à base de tahine e também com pastas como hommus, babaganoush, coalhada seca e outras. </p>
                    <p class="fs-3 text-muted">Preço: R$11,19</p>
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Caprese</h2>
                    <p class="fs-4 lead">A salada caprese é um clássico da culinária italiana e, com pão, vira o sanduíche mais querido da Itália. Simples, prático e muito saboroso, consiste em pão – tradicionalmente se usa a baguete – com folhas frescas de manjericão, tomate, mussarela de búfala, azeite e pimenta-do-reino.</p>
                    <p class="fs-3 text-muted">Preço: R$8,89</p>
                </div>

                <div class="sandwich-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/sandwichs/caprese.jpg" alt="caprese">
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="sandwich-imagem d-none d-md-block col-md-5 py-sm-4 py-2">
                    <img src="../img/sandwichs/choripan.jpg" alt="choripan">
                </div>

                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Choripán Argentino</h2>
                    <p class="fs-4 lead"> Servido dentro de uma baguete, o choripán é feito com linguiça e molho chimichurri ou criolla (molho típico argentino com diversas variações, mas que consiste em cebola, limão, pimenta e coentro). É muito apimentado e pode ser servido com um ovo frito em cima, como no croque madame.</p>
                    <p class="fs-3 text-muted">Preço: R$16,89</p>
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">BLT</h2>
                    <p class="fs-4 lead">Batizado com o nome de seus ingredientes principais (bacon, lettuce (que significa alface) e tomate), o BLT é um sanduíche estadunidense que foi servido pela primeira vez em 1950. Muito popular em lanchonetes – os famosos diners – ele é feito com pão de forma tostado, bacon, alface, tomate e maionese, além de ser acompanhado com fritas e molhos como ketchup e mostarda.</p>
                    <p class="fs-3 text-muted">Preço: R$11,25</p>
                </div>

                <div class="sandwich-imagem d-none d-md-block col-md-5 py-2">
                    <img src="../img/sandwichs/blt.jpg" alt="blt">
                </div>
            </div>

            <div class="row d-flex py-2 my-sm-3 align-items-center">
                <div class="sandwich-imagem d-none d-md-block col-md-5 py-2">
                    <img src="../img/sandwichs/Croque-Madame.jpg" alt="Croque-Madame">
                </div>

                <div class="col-md-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Croque Madame</h2>
                    <p class="fs-4 lead">Sendo a versão “feminina” do croque monsieur – a versão simples, sem ovo – o sanduíche é feito com pão de forma, mostarda dijon, presunto, queijo gruyère, molho bechamel e ovo frito, servido em cima do pão.</p>
                    <p class="fs-3 text-muted">Preço: R$10,99</p>
                </div>
            </div>


        </div>
    </main>

    <footer>
        Todos os direitos reservados &copy;
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>