<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Restaurante - Saladas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-saladas.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Eighth navbar example">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo.png" alt="Logotipo Site">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-flex justify-content-end" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-itemx">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="../views/sobre.html">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contato.html">Contato</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main>

        <div class="banner-salada"></div>

        <div class="container conteudo my-3 p-2">

            <div class="row d-flex py-2 align-items-center">
                <div class="col-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Caesar</h2>
                    <p class="fs-4 lead">Combinação de alface, queijo Grana Padano com croutons e exclusivo molho Caesar. </p>
                    <p class="fs-3 text-muted">Preço: R$12,00</p>
                </div>

                <div class="salada-imagem col-5 py-2">
                    <img src="../img/saladas/caesar.jpg" alt="Salada Caesar">
                </div>
            </div>

            <div class="row d-flex py-2 align-items-center">
                <div class="salada-imagem col-5 py-2">
                    <img src="../img/saladas/coleslaw.jpg" alt="Salada Coleslaw">
                </div>

                <div class="col-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Coleslaw</h2>
                    <p class="fs-4 lead">Tradicional receita americana com repolho roxo e cenoura fatiado bem fino e molho de iogurte com um toque de mel.</p>
                    <p class="fs-3 text-muted">Preço: R$10,00</p>
                </div>
            </div>

            <div class="row d-flex py-2 align-items-center">
                <div class="col-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Grega</h2>
                    <p class="fs-4 lead">Salada feita com pepino, tomate, cebola, azeitona, pimentão e queijo feta, regado com azeite de oliva e temperos. </p>
                    <p class="fs-3 text-muted">Preço: R$12,00</p>
                </div>

                <div class="salada-imagem col-5 py-2">
                    <img src="../img/saladas/grega.jpg" alt="Salada Grega">
                </div>
            </div>

            <div class="row d-flex py-2 align-items-center">
                <div class="salada-imagem col-5 py-2">
                    <img src="../img/saladas/nicoise.jpg" alt="Salada Niçoise" />
                </div>

                <div class="col-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Niçoise</h2>
                    <p class="fs-4 lead"> O clássico francês montado com alface, atum, cebola, vagem, tomate e ovo cozido. </p>
                    <p class="fs-3 text-muted">Preço: R$15,00</p>
                </div>
            </div>

            <div class="row d-flex py-2 align-items-center">
                <div class="col-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Panzanella</h2>
                    <p class="fs-4 lead">Combinação de tomate, cebola, pepino, pão, manjericão e frango desfiado e molho especial da casa à base de azeite. </p>
                    <p class="fs-3 text-muted">Preço: R$15,00</p>
                </div>

                <div class="salada-imagem col-5 py-2">
                    <img src="../img/saladas/panzanella.jpg" alt="Salada Panzanella">
                </div>
            </div>

            <div class="row d-flex py-2 align-items-center">
                <div class="salada-imagem col-5 py-2">
                    <img src="../img/saladas/waldorf.png" alt="Salada Waldorf">
                </div>

                <div class="col-7 d-flex flex-column align-items-center text-center">
                    <h2 class="display-4">Waldorf</h2>
                    <p class="fs-4 lead">Elaborada com salsão, maça, uva e nozes misturados ao molho de maionese com especiarias. </p>
                    <p class="fs-3 text-muted">Preço: R$12,00</p>
                </div>
            </div>


        </div>
    </main>

    <footer>
        Todos os direitos reservados &copy;
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>