<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamma Mia - Sobre</title>

    <!--load all styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-sobre.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Eighth navbar example">
            <div class="container">
              <a class="navbar-brand" href="../index.html">
                  <img src="../img/logo.png" alt="Logotipo Site">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active disabled" href="">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                  </li>
                  
              </div>
            </div>
          </nav>
    </header>

    <main>

        <div class="container text-center">
            <h2 class="display-3 py-5">Quem Somos</h2>
            <p class="lead fs-4">O projeto do Restaurante Mamma Mia nasceu para que pudessemos realizar o trabalho de
                CheckPoint
                da matéria de Front-End e concretizar tudo que nos foi ensinado pelo Professor Renan, durante o 1º
                bimestre do curso <strong>Certified Tech Developer</strong> da Digital House.
            </p>

            <div class="row d-flex justify-content-around py-4">
                <div class="col-lg-4 col-md-6 text-center my-2">
                    <img src="../img/integrantes/arnaldo.jpg" alt="">
                    <h3 class="my-2">Arnaldo Ramos</h3>
                    <div class="redes-sociais d-flex justify-content-center">
                        <a target="_blank" href="https://www.linkedin.com/in/arnaldo-ramos/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a target="_blank" href="https://github.com/ArnaldoRamos" class="github"><i class="fab fa-github"></i></a>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 text-center my-2">
                    <img src="../img/integrantes/diego.jpg" alt="">
                    <h3 class="my-2">Diego Decrescenzo</h3>
                    <div class="redes-sociais d-flex justify-content-center">
                        <a target="_blank" href="https://www.linkedin.com/in/diego-decrescenzo-a2806b206/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a target="_blank" href="https://github.com/diegodecrescenzo" class="github"><i class="fab fa-github"></i></a>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 text-center my-2">
                    <img src="../img/integrantes/ector.jpg" alt="">
                    <h3 class="my-2">Ector Cunha</h3>
                    <div class="redes-sociais d-flex justify-content-center">
                        <a target="_blank" href="https://www.linkedin.com/in/ector-cunha-b7892411a/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a target="_blank" href="https://github.com/EctorCunha" class="github"><i class="fab fa-github"></i></a>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 text-center my-2">
                    <img src="../img/integrantes/jehan.jpg" alt="">
                    <h3 class="my-2">Jehan Lucas</h3>
                    <div class="redes-sociais d-flex justify-content-center">
                        <a target="_blank" href="https://www.linkedin.com/in/jehan-lucas-vieira-e-silva-39479718a/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a target="_blank" href="https://github.com/lucasriber01" class="github"><i class="fab fa-github"></i></a>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 text-center my-2">
                    <img src="../img/integrantes/nayla.jpg" alt="">
                    <h3 class="my-2">Nayla Ueda</h3>
                    <div class="redes-sociais d-flex justify-content-center">
                        <a target="_blank" href="https://www.linkedin.com/in/nayla-ueda-95a99931/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/naylaueda" class="github"><i class="fab fa-github"></i></a>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 text-center my-2 mb-">
                    <img src="../img/integrantes/renan.jpg" alt="">
                    <h3 class="my-2">Renan Joaquim</h3>
                    <div class="redes-sociais d-flex justify-content-center">
                        <a target="_blank" href="https://www.linkedin.com/in/renan-aj/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a target="_blank" href="https://github.com/rejoaquim" class="github"><i class="fab fa-github"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer>
        Todos os direitos reservados &copy;
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>